<!-- 
    File: tanulo.component.html
    Author: Sánta Renáta Diána
    Copyright: 2023, Sánta Renáta Diána
    Group: Szoft II N
    Date: 2023-03-01
    Github: https://github.com/SantaRenata/
    Licenc: GNU GPL
 -->

<table class="table table-stipped">
    <thead>
        <tr class="table-success">
            <th>Id</th>
            <th>Név</th>
            <th>Nem</th>
            <th>Osztály</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of students">
            <td>{{student.id}}</td>
            <td>{{student.name}}</td>
            <td>{{student.gender}}</td>
            <td>{{student.group}}</td>
        </tr>
    </tbody>
</table>

<table class="table table-stipped">
    <thead>
        <tr class="table-success">
            <th>Id</th>
            <th>Pont</th>
            <th>TanulóId</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let score of scores">
            <td>{{score.id}}</td>
            <td>{{score.score}}</td>
            <td>{{score.studentId}}</td>
        </tr>
    </tbody>
</table>
