/*
* File: app.component.scss
* Author: Sánta Renáta Diána
* Copyright: 2023, Sánta Renáta Diána
* Group: Szoft II N
* Date: 2023-03-01
* Github: https://github.com/SantaRenata/
* Licenc: GNU GPL
*/

h3{
    text-align: center;
    text-decoration: underline;
}

.about{
    background-color:rgb(146, 185, 187);
    text-align: center;
    margin-top: 5px;
    border-radius: 8px;
    width: 30%;
    
}