h3{
    text-align: center;
    text-decoration: underline;
}

.about{
    background-color:rgb(146, 185, 187);
    text-align: center;
    margin-top: 5px;
    border-radius: 8px;
    width: 30%;
    
}